{% for trick in tricks %}
    <div class="w3-col s12 w3-margin-bottom ntrick" id="trick">
        <div class="gainsboro">
            {#{% for image in trick.images %}
                {% if image.bool == 1 %}
                    <img class="w3-image" src="{{  asset(image_directory ~ image.name) }}" alt="imge">
                {% endif %}
            {% endfor %}#}
            <img class="w3-image" src="{{  asset('images/tricks/ZYdken1.jpg') }}" alt="imge">
            <div class="w3-container w3-padding">
                <a class="overflow-none break-word" style="max-width: 1px"
                   href="{{ relative_path('/trick/' ~ trick.slug) }}">{{ trick.title }}</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="w3-right">
                        <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                            <i class="fa fa-pencil w3-margin-right" aria-hidden="true"></i>
                        </a>
                        <a onclick="$('{{ '#modal' ~ trick.id }}').show()"
                           style="cursor: pointer">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="{{ 'modal' ~ trick.id }}" class="w3-modal w3-animate-opacity">
        {{ include('trick/_delete_form.html.twig') }}
    </div>
{% else %}
    <div class="w3-padding w3-margin"><p class="w3-padding w3-border w3-round w3-light-grey w3-center">aucun trick pour
            le
            moment</p></div>
{% endfor %}
