<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Snowtricks
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="{{ asset('assets/css/w3.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar w3-black w3-card" style="height: 4.5vh">
				<div class="w3-container">
				<a href="/" class="w3-bar-item w3-button" style="width:100%;max-width:82px"><img class="w3-image" src="{{ asset('images/logo.png') }}" alt="Logo"></a>
				<div class="w3-right">
					<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="#" onclick="navBar()" title="Toggle Navigation Menu">
						<i class="fa fa-bars"></i>
					</a>
					<a href="#" class="w3-bar-item w3-padding-large w3-hide-small">Sign in</a>
					<a href="#" class="w3-bar-item w3-padding-large w3-hide-small">Sign up</a>
				</div>
				</div>
			</div>
		</div>
		<!-- Navbar on small screens -->
		<div id="navMenu" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
			<a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="navBar()">Sign in</a>
			<a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="navBar()">Sign up</a>
		</div>
		{% block body %}{% endblock %}
		<footer>
			<p class="w3-padding w3-margin-left">Copyright &copy; 2019</p>
		</footer>
		{% block javascripts %}
			<script src="{{ asset('assets/js/jquery.js') }}"></script>
			<script src="{{ asset('assets/js/functions.js') }}"></script>
		{% endblock %}
	</body>
</html>
