{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {{ dump(trick) }}
    <div class="w3-content" style="max-width:1200px">
        <div class="w3-display-container">
            <img class="mySlides" src="{{ asset('images/tricks/ZYdken1.jpg') }}" style="width:100%;">
            {% for image in trick.images|slice(1, trick.images|length) %}
                <img class="mySlides" src="{{ asset('images/tricks/ZYdken1.jpg') }}" style="width:100%;display:none">
            {% endfor %}
            {% for movie in trick.movies %}
                <img class="mySlides" src="{{ asset('images/tricks/ZYdken1.jpg') }}" style="width:100%;display:none">
            {% endfor %}
            <div class="w3-display-middle w3-text-blue">
                {{ trick.title }}
            </div>
        </div>

        <div class="w3-row w3-section">
            <div
                    class="w3-col s2">
                {# TODO when actif toogle w3-opacity #}
                <img class="w3-hover-opacity-off" src="{{ asset('images/tricks/ZYdken1.jpg') }}"
                     style="width:100%;cursor:pointer" onclick="currentDiv(1)">
            </div>
            {% for image in trick.images|slice(1, trick.images|length) %}
                <img class="w3-opacity w3-hover-opacity-off" src="{{ asset('images/tricks/ZYdken1.jpg') }}"
                     style="width:100%;cursor:pointer" onclick="currentDiv(2)">
            {% endfor %}
            {% for movie in trick.movies %}
                <img class="w3-opacity w3-hover-opacity-off" src="{{ asset('images/tricks/ZYdken1.jpg') }}"
                     style="width:100%;cursor:pointer" onclick="currentDiv(3)">
            {% endfor %}
        </div>
    </div>
    <div class="w3-container">
        <p id="description" class="w3-center">{{ trick.description }}</p>
        <div class="w3-center">
            <p>
                <span class="w3-tag w3-blue w3-round">{{ trick.category.name }}</span>
                <span class="w3-tag w3-blue w3-round">Créé le :
					{{ trick.created|date("m/d/Y") }}</span>
                {% if trick.updated %}
                    <span class="w3-tag w3-blue w3-round">Modifié le :
						{{ trick.updated|date("m/d/Y") }}</span>
                {% endif %}
            </p>
        </div>

        <hr>
        {{ form_start(form, {'attr': {'class': 'w3-container w3-center'}}) }}
        <div class="w3-row-padding" style="max-width:500px;margin:auto;">
            <div class="w3-col s8">
                {{ form_widget(form.content) }}
            </div>
            <div class="w3-col s4">
                <button class="w3-btn w3-blue w3-large">Laisser un commentaire</button>
            </div>
        </div>
        {{ form_end(form) }}
        <hr>

    </div>
    <div id="comments">
        {% for c in comment %}
            <div class="w3-margin" id="{{ c.id }}">
                <div class="w3-row-padding" style="max-width: 500px;margin: auto">
                    <div class="w3-col s2 w3-padding">{{ c.user }}</div>
                    <div class="w3-col s10 w3-light-gray w3-padding break-word">{{ c.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="w3-bar w3-center" id="pagination">
        {% for n in 0..nComment/10 %}
            <a onclick="pagination()" id="{{ n + 1 }}" class="w3-button w3-hover-blue">{{ n + 1 }}</a>
        {% endfor %}
    </div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
