{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">edit</a>
    <div class="w3-content" style="max-width:1300px">
        <div class="w3-display-container">
            {% for image in trick.images %}
                <img id="{{ image.id }} }}" class="mySlides" src="{{ asset(image_directory ~ image.name) }}"
                     alt="{{ image.alt }}">
            {% endfor %}
            {% for movie in trick.movies %}
                <img class="mySlides" src="#" alt="{{ movie.alt }}">
            {% endfor %}
            <div class="w3-display-middle w3-blue w3-padding">
                {{ trick.title }}
            </div>
        </div>

        <div class="w3-row-padding w3-section">
            {% for image in trick.images %}
                <div class="w3-col s3">
                    <img class="w3-opacity w3-hover-opacity-off" src="{{ asset(image_directory ~ image.name) }}"
                         style="width:100%;cursor:pointer" alt="{{ image.alt }}" onclick="currentDiv({{ image.id }})">
                </div>
            {% endfor %}
            {% for movie in trick.movies %}
                <div class="w3-col s3">
                    <img class="w3-opacity w3-hover-opacity-off" src="{{ asset('images/tricks/ZYdken1.jpg') }}"
                         style="width:100%;cursor:pointer" alt="{{ movie.alt }}" onclick="currentDiv({{ movie.id }})">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-container">
        <p id="description" class="w3-center">{{ trick.description }}</p>
        <div class="w3-center">
            <p>
                <span class="w3-tag w3-blue w3-round">{{ trick.category.name }}</span>
                <span class="w3-tag w3-blue w3-round">Créé le :
					{{ trick.created|date("m/d/Y") }}</span>
                {% if trick.updated %}
                    <span class="w3-tag w3-blue w3-round">Modifié le :
						{{ trick.updated|date("m/d/Y") }}</span>
                {% endif %}
            </p>
        </div>
        <hr>
        {{ form_start(form, {'attr': {'class': 'w3-container w3-center'}}) }}
        <div class="w3-row-padding" style="max-width:500px;margin:auto;">
            <div class="w3-col s8">
                {{ form_widget(form.content) }}
            </div>
            <div class="w3-col s4">
                <button class="w3-btn w3-blue w3-large">Laisser un commentaire</button>
            </div>
        </div>
        {{ form_end(form) }}
        <hr>
    </div>
    <div id="comments">
        {% for c in comment %}
            <div class="w3-margin" id="{{ c.id }}">
                <div class="w3-row-padding" style="max-width: 500px;margin: auto">
                    <div class="w3-col s2 w3-padding">{{ c.user }}</div>
                    <div class="w3-col s10 w3-light-gray w3-padding break-word">{{ c.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if nComment > 10 %}
        <div class="w3-bar w3-center" id="pagination">
            {% for n in 0..nComment/10 %}
                <a onclick="pagination()" id="{{ n + 1 }}" class="w3-button w3-hover-blue">{{ n + 1 }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}



