{% extends 'base.html.twig' %}

{% block body %}

    {% include 'trick/__header.html.twig' with {'show': true} %}

    {% include 'trick/__carousel.html.twig' with {'show': true} %}

    <div class="w3-container">
        <p id="description" class="w3-center">{{ trick.description|capitalize }}</p>
        <div class="w3-center">
            <p>
                <span class="w3-tag w3-blue w3-round">{{ trick.category.name }}</span>
                <span class="w3-tag w3-blue w3-round">Créé le :
					{{ trick.created|date("m/d/Y") }}</span>
                {% if trick.updated %}
                    <span class="w3-tag w3-blue w3-round">Modifié le :
						{{ trick.updated|date("m/d/Y") }}</span>
                {% endif %}
            </p>
        </div>
        <hr>
        {% if user %}
            {{ form_start(form, {'attr': {'class': 'w3-container w3-center'}}) }}
            <div class="w3-row-padding" style="max-width:500px;margin:auto;">
                <div class="w3-col s12 m8">
                    {{ form_widget(form.content) }}
                </div>
                <div class="w3-col s12 m4">
                    <button class="w3-btn w3-blue w3-large">{% trans %}Comment{% endtrans %}</button>
                </div>
            </div>
            {{ form_end(form) }}
        {% else %}
            <div style="max-width:500px;margin:auto;">
                <p class="w3-center w3-light-grey w3-padding"><a class="underline" href="{{ path('app_login') }}">Connectez
                        vous</a> pour pouvoir rediger un commentaire.</p>
            </div>
        {% endif %}
        <hr>
    </div>
    <div id="comments">
        {% for c in comment %}
            <div class="w3-margin" id="{{ c.id }}">
                <div class="w3-row-padding m-a" style="max-width: 500px;">
                    <div class="w3-col s2 w3-center">
                        <div style="height: 3.8vh">
                            <img alt="profil_picture" class="thumb" src="{{ asset(profilPicture ~ c.user.picture) }}">
                        </div>
                        <span class="w3-center w3-text-white">{{ c.user.name }}</span>
                    </div>
                    <div class="w3-col s10 w3-light-gray w3-padding break-word">
                        <span>le <c class="w3-text-blue">{{ c.creation|date("d/m/Y") }}</c> :</span>
                        <span class="w3-col s12">{{ c.content }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if nComment > 10 %}
        <div class="w3-bar w3-center" id="pagination">
            {% for n in 0..nComment/10 %}
                <a onclick="pagination()" id="{{ n + 1 }}" class="w3-button w3-hover-blue">{{ n + 1 }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
